* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #C92027;
}
#header {
    display: flex;
    background-color: white;
    padding-top: 1cm;
    padding-bottom: .75cm;
}
#header-relocatelinks ul {
    display: flex;
    list-style-type: none;
}
#header-relocatelinks li {
    margin-right: 1cm;
    margin-top: .25cm;
    margin-left: 1cm ;
    font-size: 16px;
}
#heading-header {
    margin-left: 4cm;
    color: #C92027;
}
#signin-but {
    margin-left: 12cm;
    margin-right: 2cm;
}
#sign-but {
    width: 4cm;
    height: 1.2cm;
    border-radius: 1cm;
    border: 0;
    background-color: red;
    color: white;
    font-size: 15px;
}
button {
    cursor: pointer;
}
a {
    cursor: pointer;
    text-decoration: none;
    color: black;
}
#mid-body {
    color: white;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    height: 20cm;
    background-size: 75%;
    opacity: 1;
    scale: 1;
    filter: brightness(1);
}
#mid-body h1 {
    margin-left: 5cm;
    padding-top: 7cm;
    font-size: 30px;
    color: white;
}
#mid-body h2 {
    margin-left: 5cm;
    font-size: 20px;
}