html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #C92027;
}
#header {
    display: flex;
    justify-content: center;
}
#header-relocatelinks ul {
    display: flex;
    list-style-type: none;
}
#header-relocatelinks li {
    margin-right: 1cm;
    margin-top: .25cm;
}
#heading-header {
    margin-left: 7cm;
}
#signin-but {
    margin-left: 12cm;
    margin-right: 2cm;
}
#sign-but {
    width: 3cm;
    height: 1cm;
    border-radius: 1cm;
    border: 0;
    margin-top: .5cm;
}