* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Helvetica;
    src: url('fonts/Helvetica-Black\ Black.ttf') format(ttf);
}

html {
    font-family: Helvetica;
}

h1 {
    color: #C92027;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
}

header {
    border: 1px solid;
}
