* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: Helvetica;
    src: url('fonts/Helvetica-Black\ Black.ttf') format(ttf);
}
html {
    font-family: Helvetica;
}
body {
    background-color: #C92027;
}
#header {
    display: flex;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 1;
}
#header-relocatelinks ul {
    display: flex;
    list-style-type: none;
}
#header-relocatelinks li {
    margin-right: 1cm;
    margin-top: .25cm;
    margin-left: 1cm ;
    font-size: 16px;
}
#header-relocatelinks li:hover {
    border-bottom: 3px solid #C92027;
}
#heading-header {
    margin-left: 3cm;
    color: #C92027;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 26px;
}
#signin-but {
    margin-left: 11cm;
    margin-right: 2cm;
}
#sign-but {
    width: 4cm;
    height: 1cm;
    border-radius: 1cm;
    border: 0;
    background-color: red;
    color: white;
    font-size: 15px;
}
button {
    cursor: pointer;
}
a {
    cursor: pointer;
    text-decoration: none;
    color: black;
}
#midpage {
    background-image:linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url(../Images/background.jpg);
    background-image: linear-gradient();
    background-repeat: no-repeat;
    background-size: 100%;
    height: 20cm;
    color: white;
    
}

#mid-body h1 {
    margin-left: 5cm;
    padding-top: 8cm;
    font-size: 30px;
    color: white;

}
#mid-body h2 {
    margin-left: 5cm;
    font-size: 20px;
}
#mid-button {
    width: 4;
    height: 1.2;
    background-color: #C92027;
    float: right;
    margin-right: 10cm;
    width: 6cm;
    height: 2cm;
    border: 2px solid white;
    color: white;
    margin-top: 8.5cm;
    margin-left: 5.5cm;
}
#aboutus {
    padding-top: 1cm;
    background-color: white;
}
#firsthalf {
    width: 50%;
    color: #C92027;
}
#heading {
    padding: 3cm;
}
#missionstatement {
    margin-top: 2cm;
}
#footer {
    background-color: black;
}
#caption {
    text-align: center;
    align-items: center;
}
#footer {
    color: #C92027;
    padding: 3cm;
}