* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Helvetica;
    src: url('fonts/Helvetica-Black\ Black.ttf') format(ttf);
}

html {
    font-family: Helvetica;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 26px;
}

h1 a {
    text-decoration: none;
    color: #C92027;
}

header {
    border-bottom: 1px solid rgb(163, 163, 163);
    position: sticky;
    padding: 10px;
    margin-bottom: 50px;
}

main {
    text-align: center;
}

h2 {
    text-transform: uppercase;
    font-weight: 800;
    margin: 30px;
    font-size: 45px;
}

input {
    margin-bottom: 15px;
    padding: 10px;
    width: 350px;
    border: 2px solid gray;
    border-radius: 4px;
}

button {
    margin-top: 30px;
    margin-bottom: 20px;
    width: 350px;
    padding: 20px;
    background-color: #C92027;
    border: none;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 17px;
}

button:hover {
    background-color: #910C24;
    cursor: not-allowed;
}

p{
    font-size: 13px;
}

p a {
    color: #C92027;
}