* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: Helvetica;
    src: url('fonts/Helvetica-Black\ Black.ttf') format(ttf);
}
html {
    font-family: Helvetica;
}
body {
    background-color: #C92027;
    color: white;
}
#header {
    display: flex;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 1;
}
#header-relocatelinks ul {
    display: flex;
    list-style-type: none;
}
#header-relocatelinks li {
    margin-right: 1cm;
    margin-top: .25cm;
    margin-left: 1cm ;
    font-size: 16px;
}
#header-relocatelinks li:hover {
    border-bottom: 3px solid #C92027;
}
#heading-header {
    margin-left: 3cm;
    color: #C92027;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 26px;
}
#signin-but {
    margin-left: 11cm;
    margin-right: 2cm;
}
#sign-but {
    width: 4cm;
    height: 1cm;
    border-radius: 1cm;
    border: 0;
    background-color: red;
    color: white;
    font-size: 15px;
}
button {
    cursor: pointer;
}
a {
    cursor: pointer;
    text-decoration: none;
    color: black;
}
#menu-heading {
    margin-top: 3cm;
    text-align: center;
}
h2 {
    margin-left: 2cm;
    margin-top: 2cm;
}
img {
    width: 3cm;
    height: 4cm;
    border-radius: 2cm;
}
#item {
    margin-top: .5cm;
    margin-left: 2cm;
    
}
#beverage-img {
    display: flex;
}
#menu-items button {
    width: 4cm;
    height: 1cm;
    border-radius: 1cm;
    border: 0;
    background-color: red;
    color: white;
    font-size: 15px;
    margin-top: 1cm;
}
h4 {
    margin-top: 4px;
}
#buritem {
    margin-top: .5cm;
    margin-left: 2cm;
    
}
#cart-container {
    padding-top: 2cm;
}
#addcart {
    width: 3cm;
    height: 1cm;
    background-color: white;
    border: 0;
    border-radius: 3px;
    margin-top: .5cm;
    color: #C92027;
}
#cart-awaiting-fill {
    background: lightgrey;
    text-align: center;
    margin: 0 auto;

}
#cart {
    margin: 20px;
    background-color: white;
    color: #C92027;
    max-width: 700px;
    margin: 0 auto; 
    border: 2px solid #ddd;
    padding: 10px;
    margin-bottom: 1cm;
    padding-top: 1cm;
    padding-bottom: 1cm;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-bottom: 1cm;
    height: 2cm;
}
.cart-item input {
    height: .25cm;
    width: 1.5cm;
    text-align: center;
    padding: 10px;
    border: 0;
}
.cart-item button {
    width: 3cm;
    height: 1cm;
    background-color: white;
    border: 0;
    border-radius: 3px;
    margin-top: .5cm;
    color: #C92027;
    margin-left: 3cm;
   
}


.cart-item {
    margin-bottom: 10px;
}

.item-quantity {
    width: 40px; /* Adjust the width of the quantity input */
    margin: 0 10px; /* Add some spacing between the quantity input and the item name */
}

.remove-item {
    cursor: pointer;
}
#footer {
    background-color: black;
}
#caption {
    text-align: center;
    align-items: center;
}
#footer {
    color: white;
    padding: 1cm;
    padding-top: 1cm;
}
#foot {
    display: flex;
}
#leftside {
    margin-top: 1.5cm;
    font-size: 25px;
}
#footer li {
    list-style-type: none;
    margin-left: 23cm;
    margin-bottom: 1cm;
    color: #C92027;
    font-size: 20px;
}
#copyrightbs {
    background-color: white;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
    color: black;
}