* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: Helvetica;
    src: url('fonts/Helvetica-Black\ Black.ttf') format(ttf);
}
html {
    font-family: Helvetica;
}
body {
    background-color: #C92027;
    color: white;
}
#header {
    display: flex;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 1;
}
#header-relocatelinks ul {
    display: flex;
    list-style-type: none;
}
#header-relocatelinks li {
    margin-right: 1cm;
    margin-top: .25cm;
    margin-left: 1cm ;
    font-size: 16px;
}
#header-relocatelinks li:hover {
    border-bottom: 3px solid #C92027;
}
#heading-header {
    margin-left: 3cm;
    color: #C92027;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 26px;
}
#signin-but {
    margin-left: 11cm;
    margin-right: 2cm;
}
#sign-but {
    width: 4cm;
    height: 1cm;
    border-radius: 1cm;
    border: 0;
    background-color: red;
    color: white;
    font-size: 15px;
}
button {
    cursor: pointer;
}
a {
    cursor: pointer;
    text-decoration: none;
    color: black;
}
h1 {
    
}
#decloration {
    text-align: center; 
    margin-top: 2cm;
    font-size: 30px;
}
h2 {
    text-align: center;
    padding-top: 1cm;
}
#overview {
    text-align: center;
}
#orderoverview {
    background: rgb(178, 171, 171);
    margin: 0 auto;
    display: inline-block;
    margin-top: 2cm;
    width: 23cm;
    height: 24cm;
    color: #C92027;
    border-radius: 1cm;
}
#confirm {
    text-align: center;
    margin-top: 2cm;
    padding-bottom: 2cm;
}
#confirmation-but {
    width: 6cm;
    height: 1.5cm;
    border-radius: 1cm;
    border: 0;
    background-color: white;
    color: #C92027;
    font-size: 25px;

}
#footer {
    background-color: black;
}
#caption {
    text-align: center;
    align-items: center;
}
#footer {
    color: white;
    padding: 1cm;
    padding-top: 1cm;
}
#foot {
    display: flex;
}
#leftside {
    margin-top: 1.5cm;
    font-size: 25px;
}
#footer li {
    list-style-type: none;
    margin-left: 23cm;
    margin-bottom: 1cm;
    color: #C92027;
    font-size: 20px;
}
#copyrightbs {
    background-color: white;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
    color: black;
}
* #checkout-head {
    padding-top: 3cm;
    padding-left: 3cm;
    color: white;
    font-size: 30px;
}
form {
    padding: 1cm;
}
input {
    border: 2px solid grey;
    height: 1.2cm;
    width: 13cm;
    margin-right: 1cm;
    margin-bottom: .5cm;
    padding: .5cm;
    border-radius: .25cm;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    margin-left: -500px;
}

input {
    padding: 8px;
    margin-bottom: 10px;
    margin-left: 200px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
